@charset "utf-8";

/* color list
  #192f60 紺青（こんじょう）
  #302833 黒紅（くろべに）
  #0f2350 濃藍（こいあい）
  #e4d2d8 鴇鼠（ときねず）
  #9790a4 薄鼠（うすねず）
  #b7282e 茜色（あかねいろ）
  #fffffc 胡粉色（ごふんいろ）
  #fff 白
  #009 リンク色
  #551A8B リンク色：訪問済み
  #09182e 紺青を暗くした色
*/

/* base
================================================== */
body, h1, h2, h3, p, ul, li, figure {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: Verdana, メイリオ, sans-serif;
  font-size: 1.0rem;
  line-height: 1.7;
  color: #302833;
  background-color: #fffffc;
}
h1 {
  line-height: 1;
}
img {
  vertical-align: bottom;
}


/* header
================================================== */
.header {
  margin-bottom: 100px;
  background-color: #192f60;
}
.header__inner {
  padding: 2em 1.5em;
}
.signboard {
  display: flex;
  align-items: center;
}
.signboard__link {
  text-decoration: none;
}
.signboard__logo {
  width: 50px;
  height: auto;
  margin-right: 1em;
}
.signboard__title {
  letter-spacing: .1em;
  color: #fffffc;
}
@media screen and (min-width: 992px) { /* それ以外用 */
  .signboard__logo:hover {
    opacity: .9;
  }
  .signboard__title:hover {
    text-decoration: underline;
  }
}


/* labo
================================================== */
@media screen and (max-width: 767px) { /* スマホ用 */
  .labo {
    margin-bottom: 10em;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) { /* タブレット用 */
  .labo {
    margin-bottom: 5em;
  }
}
@media screen and (min-width: 992px) { /* それ以外用 */
  .labo {
    margin-bottom: 100px;
  }
}


/* cards
================================================== */
.cardBoxTitle {
  font-size: 2.3rem;
  text-align: center;
  letter-spacing: .1em;
}
.cardBoxTitle::after {
  display: block;
  font-size: 1rem;
  content: attr(data-subtitle);
}
.card {
  height: auto;
  text-align: center;
  border-radius: 4px;
  background-color: #fffffc;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}
.cardTitle {
  font-size: 1.6rem;
  letter-spacing: .1em;
  border-radius: 4px 4px 0 0;
  color: #fffffc;
  background-color: #0f2350;;
}
.cardTitle__link {
  display: block;
  padding: .5em;
  text-decoration: none;
  color: inherit;
}
.cardThumbnail {
  position: relative;
  overflow: hidden;
}
.cardThumbnail__img {
  font-size: 1.4rem;
  width: 100%;
  height: auto;
  vertical-align: top;
  box-sizing: border-box;
  color: inherit;
}
.card__description {
  font-size: 1.6rem;
  padding: 0 1em;
}
@media screen and (max-width: 767px) { /* スマホ用 */
  .cardBox {
    padding: 0 2em;
  }
  .cardBoxTitle {
    margin-bottom: 1em;
  }
  .card {
    width: 300px;
    margin: 0 auto 3em;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) { /* タブレット用 */
  .cardBox {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0 1.5em;
  }
  .cardBoxTitle {
    margin-bottom: 1.7em;
  }
  .card {
    width: 320px;
    margin-bottom: 3.5em;
  }
}
@media screen and (min-width: 992px) { /* それ以外用 */
  .cardBox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0 2em;
  }
  .cardBoxTitle {
    margin-bottom: 2em;
  }
  .card {
    width: 350px;
    margin: 0 1em 4em;
  }
}


/* footer
================================================== */
.footer {
  font-family: Verdana, メイリオ, sans-serif;
  background-color: #192f60;
}
.footer__inner {
  padding: 10em 1.5em 1em;
  text-align: center;
}
.backSignboard {
  display: inline-block;
}
.backSignboard__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.backSignboard__title {
  color: #fffffc;
}
.office {
  padding-left: .5em;
  letter-spacing: .1em;
  color: #fffffc;
}
.office a {
  text-decoration: none;
  color: inherit;
}
.copyright {
  color: #fffffc;
}
.copyrightHolder {
  text-decoration: none;
  color: inherit;
}
@media screen and (max-width: 767px) { /* スマホ用 */
  .profile {
    margin-bottom: 12em;
  }
  .backSignboard__logo {
    width: 70px;
    height: 70px;
    margin-right: 10px;
  }
  .backSignboard__title {
    font-size: 3rem;
  }
  .office {
    font-size: 1.4rem;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) { /* タブレット用 */
  .profile {
    margin-bottom: 12em;
  }
  .backSignboard__logo {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }
  .backSignboard__title {
    font-size: 6rem;
  }
  .office {
    font-size: 1.6rem;
    text-align: center;
  }
}
@media screen and (min-width: 992px) { /* それ以外用 */
  .profile {
    margin-bottom: 12em;
  }
  .backSignboard__link:hover {
    opacity: .8
  }
  .backSignboard__logo {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }
  .backSignboard__title {
    font-size: 6rem;
  }
  .office {
    font-size: 1.6rem;
    text-align: center;
  }
  .office a:hover {
    opacity: .8
  }
}


/* back-to-top
================================================== */
.back-to-top {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 60px;
  height: 60px;
  margin: 3em;
  text-decoration: none;
}
.back-to-top__btn {
  display: none;
  width: 100%;
  height: auto;
  padding: 1em;
  box-sizing: border-box;
  background-color: #241c1c;
  border: 4px solid #fffffc;
  border-radius: 50%;
}
