@charset "utf-8";

/* base
================================================== */
body, h1, h2, p, ul, li, dl, dt, dd, figure {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 1.0rem;
  line-height: 1.7;
  color: #302833;
  background-color: #fffffc;
}
img {
  max-width: 100%;
}
img, svg, iframe {
  vertical-align: bottom;
}


/* header
================================================== */
.header {
  margin-bottom: 10em;
  color: #fffffc;
  background-color: #302833;
}
.header__container {
  padding: 3em 1em 2em;
}
.siteTitle {
  text-align: center;
  letter-spacing: .1em;
}
@media screen and (max-width: 576px) { /* スマホ用 */
  .siteTitle {
    font-size: 2rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 991px) { /* タブレット用 */
  .siteTitle {
    font-size: 2.2rem;
  }
  .brNone {
    display: none;
  }
}
@media screen and (min-width: 992px) { /* それ以外用 */
  .siteTitle {
    font-size: 3.3rem;
  }
  .brNone {
    display: none;
  }
}


/* main
================================================== */
.main {
  margin-bottom: 15em;
}
.main__inner {
  margin: 0 auto;
  padding: 0 1em;
}
@media screen and (max-width: 576px) { /* スマホ用 */
  .main__inner {
    width: 90%;
  }
}
@media screen and (min-width: 577px) and (max-width: 991px) { /* タブレット用 */
  .main__inner {
    width: 85%;
  }
}
@media screen and (min-width: 992px) { /* それ以外用 */
  .main__inner {
    width: 990px;
  }
}


/* content
================================================== */
.contents {
  font-size: 1.6rem;
  margin-bottom: 10em;
}
.heading-2 {
  font-size: 2rem;
  margin-bottom: 2em;
  padding: .5em 1em;
  text-align: center;
  color: #fffffc;
  background-color: #302833;
  border-radius: 4px;
}
.heading-2::after {
  display: block;
  font-size: 1rem;
  content: attr(data-subheading);
  color: #eae5e3;
}
.heading-3 {
  font-size: 1.8rem;
  margin: 3em 0 1em;
  padding-left: 1em;
  letter-spacing: .1em;
  border-left: 10px solid #302833;
  border-bottom: 2px solid #302833;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.heading-4 {
  font-size: 1.8rem;
  margin: 2em 0 .5em .1em;
  letter-spacing: .1em;
}
.heading-4::before {
  content: "\025cf";
  margin-right: .5em;
  color: #302833;
}
.content p {
  margin-bottom: 1em;
}
.content > ul {
  margin: 0 1em 2em 2em;
}
.content > ul li {
  margin-bottom: .7em;
}
.content > ul li ul {
  margin: .7em 1em 2em 2em;
}
.content > ul li ol {
  margin: .7em 1em 2em 2.2em;
}
.content a {
  text-decoration: none;
}
.code {
  padding: 0 1.5em;
  box-sizing: border-box;
  margin: 0 auto;
  border: 1px dashed #fff;
  border-radius: 4px;
  color: #fff;
  background-color: #302833;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
.postFooter {
  font-size: 1.6rem;
}
.postDescription {
  margin-bottom: 1em;
  color: #c9171e;
}
.postDescription a {
  text-decoration: none;
  color: inherit;
}
.postDescription a:hover {
  text-decoration: underline;
}


/* grid
================================================== */
.grid {
  margin: 100px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(315px, auto));
  gap: 20px;
}


/* footer
================================================== */
.footer {
  font-family: Verdana, メイリオ, sans-serif;
  background-color: #241c1c;
}
.footer__inner {
  padding: 10em 1.5em 1em;
}
.backSignboard {
  margin: 0 auto 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.backSignboard__logo {
  padding: .5em;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #f09199;
  background-color: #fffffc;
}
.backSignboard__title {
  color: #f09199;
}
.office {
  padding-left: .5em;
  letter-spacing: .1em;
  color: #fffffc;
}
.office a {
  text-decoration: none;
  color: inherit;
}
.copyright {
  text-align: center;
  color: #f09199;
}
.copyrightHolder {
  text-decoration: none;
  color: inherit;
}
@media screen and (max-width: 767px) { /* スマホ用 */
  .profile {
    margin-bottom: 12em;
  }
  .backSignboard__logo {
    width: 70px;
    height: 70px;
    margin-right: 10px;
  }
  .backSignboard__title {
    font-size: 3rem;
  }
  .office {
    font-size: 1.4rem;
    width: 235px;
    margin: 0 auto;
    text-align: left;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) { /* タブレット用 */
  .profile {
    margin-bottom: 12em;
  }
  .backSignboard__logo {
    width: 100px;
    height: 100px;
    margin-right: 15px;
  }
  .backSignboard__title {
    font-size: 6rem;
  }
  .office {
    font-size: 1.6rem;
    text-align: center;
  }
}
@media screen and (min-width: 992px) { /* それ以外用 */
  .profile {
    margin-bottom: 12em;
  }
  .backSignboard__logo {
    width: 100px;
    height: 100px;
    margin-right: 15px;
  }
  .backSignboard__logo:hover {
    opacity: .9;
  }
  .backSignboard__title {
    font-size: 6rem;
  }
  .backSignboard__title:hover {
    color: #fffffc;
  }
  .office {
    font-size: 1.6rem;
    text-align: center;
  }
  .office a:hover {
    text-decoration: underline;
  }
}
