@charset "utf-8";

/* base
================================================== */
body, h1, h2, p, ul, li, figure {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 1.0rem;
  line-height: 1.7;
  color: #302833;
  background-color: #fffffc;
}


/* header
================================================== */
.header {
  margin-bottom: 10em;
  color: #fffffc;
  background-color: #302833;
}
.header__container {
  padding: 3em 1em;
}
.siteTitle {
  text-align: center;
  letter-spacing: .1em;
}
@media screen and (max-width: 576px) { /* スマホ用 */
  .siteTitle {
    font-size: 2rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 991px) { /* タブレット用 */
  .siteTitle {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 992px) { /* それ以外用 */
  .siteTitle {
    font-size: 3.3rem;
  }
}


/* main
================================================== */
.main {
  margin-bottom: 15em;
}
.main__inner {
  margin: 0 auto;
  padding: 0 1em;
}
@media screen and (max-width: 576px) { /* スマホ用 */
  .main__inner {
    width: 90%;
  }
}
@media screen and (min-width: 577px) and (max-width: 991px) { /* タブレット用 */
  .main__inner {
    width: 85%;
  }
}
@media screen and (min-width: 992px) { /* それ以外用 */
  .main__inner {
    width: 990px;
  }
}


/* content
================================================== */
.contents {
  font-size: 1.6rem;
  margin-bottom: 10rem;
}
.heading-2 {
  font-size: 2rem;
  margin-bottom: 2em;
  padding: .5em 1em;
  text-align: center;
  color: #fffffc;
  background-color: #302833;
  border-radius: 4px;
}
.heading-2::after {
  display: block;
  font-size: 1rem;
  content: attr(data-subheading);
  color: #eae5e3;
}
.heading-3 {
  font-size: 1.8rem;
  margin: 3em 0 1em;
  padding-left: 1em;
  letter-spacing: .1em;
  border-left: 10px solid #302833;
  border-bottom: 2px solid #302833;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.heading-4 {
  font-size: 1.8rem;
  margin: 2em 0 .5em .1em;
  letter-spacing: .1em;
}
.heading-4::before {
  content: "\025cf";
  margin-right: .5em;
  color: #302833;
}
.content p {
  margin-bottom: 1em;
}
.content ul {
  margin: 0 1em 2em 2em;
}
.content a {
  text-decoration: none;
}
.code {
	padding: 0 1.5em;
	box-sizing: border-box;
	margin: 0 auto;
	border: 1px solid #eae5e3;
	box-shadow: 0 0 10px -5px rgba(0, 0, 0, .5) inset;
	border-radius: 4px;
	white-space: pre-wrap;
}
.postFooter {
  font-size: 1.6rem;
}

.parent {
  height: 10em;
  margin: 0 auto 4em;
  padding: 1em;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, .7);
  border-radius: 4px;
}
.parent.pc1280 {
  width: 540px;
}
.parent.pc1920 {
  width: 900px;
}
.child {
  font-size: .8rem;
  width: 90%;
  margin: 0 auto;
  text-indent: 1em;
}
.child.maxWidth {
  max-width: 540px;
}


/* footer
================================================== */
.footer {
  background-color: #241c1c;
}
.footer__inner {
  padding: 10em 1.5em 1em;
}
.backSignboard {
  margin: 0 auto 2em;
  text-decoration: none;
}
.backSignboard__logo {
  padding: .5em;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #ffccaa;
  background-color: #fffffc;
}
.backSignboard__title {
  color: #ffccaa;
}
.office {
  padding-left: .5em;
  letter-spacing: .1em;
  color: #fffffc;
}
.office a {
  text-decoration: none;
  color: inherit;
}
.copyright {
  text-align: center;
  color: #ffccaa;
}
.copyrightHolder {
  text-decoration: none;
  color: inherit;
}
@media screen and (max-width: 767px) { /* スマホ用 */
  .profile {
    margin-bottom: 12em;
  }
  .backSignboard {
    display: flex;
    width: 235px;
    justify-content: center;
    align-items: center;
  }
  .backSignboard__logo {
    width: 70px;
    height: 70px;
    margin-right: 10px;
  }
  .backSignboard__title {
    font-size: 3rem;
    width: 155px;
  }
  .office {
    font-size: 1.4rem;
    width: 235px;
    margin: 0 auto;
    text-align: left;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) { /* タブレット用 */
  .profile {
    margin-bottom: 12em;
  }
  .backSignboard {
    display: flex;
    width: 420px;
    justify-content: center;
    align-items: center;
  }
  .backSignboard__logo {
    width: 100px;
    height: 100px;
    margin-right: 15px;
  }
  .backSignboard__title {
    font-size: 6rem;
    width: 305px;
  }
  .office {
    font-size: 1.6rem;
    text-align: center;
  }
}
@media screen and (min-width: 992px) { /* それ以外用 */
  .profile {
    margin-bottom: 12em;
  }
  .backSignboard {
    display: flex;
    width: 420px;
    justify-content: center;
    align-items: center;
  }
  .backSignboard__logo {
    width: 100px;
    height: 100px;
    margin-right: 15px;
  }
  .backSignboard__logo:hover {
    opacity: .9;
  }
  .backSignboard__title {
    font-size: 6rem;
    width: 305px;
  }
  .backSignboard__title:hover {
    color: #fffffc;
  }
  .office {
    font-size: 1.6rem;
    text-align: center;
  }
  .office a:hover {
    text-decoration: underline;
  }
}
